* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  padding: 15px;
}
table,
tr,
th {
  border: solid 2px black;
  border-collapse: collapse;
}

td {
  font-size: 0.8em;
}

table {
  width: 100%;
}

.table-head {
  display: flex;
  justify-content: space-between;
}

.brand-title-wrapper {
  flex: 0 0 72%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;
}

.header-techInfos {
  display: flex;
  flex-direction: column;
  border-left: solid 2px black;
  font-size: 0.7em;
  flex: 0 0 25%;
}

.header-techInfos span {
  width: 100%;
  text-align: left;
  border-bottom: solid 2px black;
}

.header-techInfos span:last-child {
  border-bottom: none;
}

.fieldsHeader {
  display: flex;
  border: none;
}

.fieldsHeader th {
  border: none;
  text-align: center;
}

.fieldsHeader th + th,
.fieldsHeader td + td {
  border-left: solid 2px black;
}

.fieldsHeader th:first-child,
.fieldsHeader td:first-child {
  flex: 0 0 15%;
}

.fieldsHeader td:first-child,
.fieldsHeader td:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.fieldsHeader th:nth-child(2),
.fieldsHeader td:nth-child(2) {
  flex: 0 0 70%;
}

.fieldsHeader td:nth-child(2) {
  display: flex;
  align-items: center;
}

.fieldsHeader th:nth-child(3),
.fieldsHeader td:nth-child(3) {
  flex: 0 0 5%;
}

.fieldsHeader th:last-child,
.fieldsHeader td:last-child {
  flex: 0 0 10%;
}

.fieldsHeader + .fieldsHeader {
  border-top: solid 2px black;
}
